* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #132D46;
    color: #ffffff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url("./images/Banner.png");
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 90px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}


nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #01C38D;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
    display: inline-block;
}

.header-text p{
    color: #01C38D;
}


.header-text .first-line{
    margin-top: 20px;
    font-size: 60px;
    width: 100%;
    /* border-right: 5px solid; */
    white-space: nowrap;
    overflow: hidden;
    animation: typing1 2s, cursor .4s step-end infinite alternate;
}

.header-text .second-line{
    margin-top: 20px;
    font-size: 60px;
    width: 100%;
    opacity: 0;
    /* border-right: 5px solid; */
    white-space: nowrap;
    overflow: hidden;
    animation: typing2 2s, cursor .4s step-end infinite alternate;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}


.header-text h1 span{
    color: #01C38D;
}

/* -----------About-------------- */

#about {
    /* padding: 80px 0; */
    width: 100%;
    /* height: 100vh; */
}

.row {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis:  35%;
}

.about-col-1 img {
    width: 350px;
    /* width: 100%; */
    border-radius: 15px;
    /* background-color: rgba(5, 5, 5, 0.548); */
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 p{
    margin-top: 10px;
}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #01C38D;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #01C38D;
    font-size: 16px;
    font-weight: bold;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* -----------Work Experience-------------- */

#experience {
    margin-top: 200px;
}

main.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* grid-column-gap: 20px; */
    margin-top: 30px;
}
/* .col header.title{
	color: #11a372;
	padding: 0px 0px 20px 30px;
} */
.col .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
}

.col .left {
	border-left: 0;
}
.col .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid #666;
	background-color: #ffffff;
	cursor: pointer;
	transition: all 0.4s;
	border-radius: 10px;
	margin-bottom: 20px;
}
.col .contents .box:hover{
	box-shadow: 0px 3px 12px 0px #01C38D;
	border: 1px solid transparent;
}
.col .contents .right::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: #11a372;
	border: 2px solid white;
}
.box h2{
	position: relative;
	color: #11a372;
	padding: 15px 10px 6px;
}

.box ul{
	padding: 0 25px 20px;
	/* padding-right:; */
	line-height: 1.2;
	color: #666;
	font-size: 17px;
}
.box h4 {
	/* font-size: 19px; */
	padding: 0 10px 20px;
	color: #444;
}
.box p{
	line-height: 1.2;
	color: #666;
	font-size: 17px;
}
@media(max-width: 600px){
	main.row{
		grid-template-columns: 1fr;
	}
	.row .col:nth-child(2){
		margin-top: 30px;
    }

}


/* -----------Animation----------- */
@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing1 {
    from {
        width: 0;
    }
}

@keyframes typing2 {
    from {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

/* **************** Skills **************** */
.skill-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-box {
    padding: 1rem;
    color: #ffffff;
    cursor: pointer;
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before {
    width: 35px;
}

.skill-box:hover .img-icon{
    transform: translateY(-10px);
}

.skill-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background: #01C38D;
    transition: .5s;
}

.skill-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background: #01C38D;
    transition: .5s;
}


.img-icon {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.img-icon:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    /* background: rgba(100,100,100,100.5); */
    border-radius: 45px 0 0 45px;
}

.skill-title h3{
    color: #ffffff;
    margin-top: 0.5rem;
}

.skill-icon {
    width: 50px;
    height: 60px;
    z-index: 2;
}

/* **************** Portfolio **************** */
#porfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    /* height: 400px; */
    width: 100%; 
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #01C38D);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #01C38D;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #01C38D;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    transition: background 0.5s;
}

.btn:hover {
    background: #01C38D;
}

/* **************** Contact **************** */
#contact {
    margin-top: 150px;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i{
    color: #01C38D;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #696E79;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #01C38D;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #01C38D;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #696E79;
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-size: 18px;
    border-radius: 14px;
}

form input::placeholder, form textarea::placeholder{
    color: #ffffff;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: #696E79;
    font-weight: 300;
    margin-top: 20px;
}

/* **************** Media Query (for smaller screen) **************** */
nav .fa-solid {
    display: none;
}

@media only screen and (max-width: 600px){

    #header{
        background-image: url("./images/Banner-mobile_02.png");
    }

    .header-text {
        margin-top: 30%;
        font-size: 16px;
    }

    .header-text .first-line, .header-text .second-line{
        font-size: 30px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #01C38D;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }
    
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 img {
        width: 300px;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right {
        flex-basis: 100%;
    }
    
    .copyright {
        font-size: 14px;
    }

    #work-experience {
        margin: 50px auto;
    }

    #work-experience::after {
        left: 31px;
    } 

    #work-experience .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box {
        font-size: 13px;
    }

    .text-box small{
        margin-bottom: 10px;
    }

    .right-container {
        left: 0;
    }

    .right-container img, .left-container img {
        left: 10px;
    }

    .left-container-arrow, .right-container-arrow {
        border-right: 15px solid #ffffff;
        border-left: 0;
        left: -15px;
    }

    .skill-container {
        grid-template-columns: repeat(2, 1fr);
        padding:  2rem 50px;
    }
}

#msg {
    color: #01C38D;
    margin-top: -40px;
    display: block;
}